<main>
  <div class="container">
    <div class="row">
      <div class="edit-password mt-3">
        <h2>パスワード変更</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <table>
            <tbody>
              <tr>
                <td><%= f.label :current_password, "既存のパスワード" %></td>
                <td><%= f.password_field :current_password, autocomplete: "current-password" %></td>
              </tr>

              <tr>
                <td><%= f.label :password, "新しいパスワード" %></td>
                <td><%= f.password_field :password, autocomplete: "new-password" %></td>
              </tr>

              <tr>
                <td><%= f.label :password_confirmationk, "新しいパスワード（確認用）" %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>
            </tbody>
          </table>

          <div class="actions">
            <%= f.submit "変更", class: "btn_blue" %>
            <%= link_to "キャンセル", user_path(current_user.id), class: "btn_red" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
