<main class="main__background">
  <div class="container">
    <div class="row">
      <%= form_with model: @user, url: user_registration_path, method: :post, local: true, class: "user-form my-5" do |f| %>
        <h5 class="mb-5">新規会員登録</h5>

        <div class="user-icon__wrapper mb-3">
          <%= image_tag @user.user_image.thumb.url, size: "70x70", class: "user-icon img_prev" %>
          <button>
            <%= f.file_field :user_image, class: "img" %>
          </button>
        </div>

        <table>
          <tbody>
            <tr>
              <td><%= f.label :family_name, "名前", class: "need" %></td>
              <td>
                <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
                <% if @user.errors.include?(:family_name) || @user.errors.include?(:given_name) %>
                  <span class="red"><%= @user.errors.full_messages_for(:family_name).first %></span>
                <% end %>
              </td>
              <td>
                <%= f.text_field :given_name, autofocus: true, autocomplete: "given_name" %>
                <% if @user.errors.include?(:family_name) || @user.errors.include?(:given_name) %>
                  <span class="red"><%= @user.errors.full_messages_for(:given_name).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :family_name_kana, "フリガナ", class: "need" %></td>
              <td>
                <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
                <% if @user.errors.include?(:family_name_kana) || @user.errors.include?(:given_name_kana) %>
                  <span class="red"><%= @user.errors.full_messages_for(:family_name_kana).first %></span>
                <% end %>
              </td>
              <td>
                <%= f.text_field :given_name_kana, autofocus: true, autocomplete: "given_name_kana" %>
                <% if @user.errors.include?(:family_name_kana) || @user.errors.include?(:given_name_kana) %>
                  <span class="red"><%= @user.errors.full_messages_for(:given_name_kana).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :email, "メールアドレス", class: "need" %></td>
              <td>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                <% if @user.errors.include?(:email) %>
                  <span class="red"><%= @user.errors.full_messages_for(:email).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "need" %></td>
              <td>
                <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
                <% if @user.errors.include?(:postal_code) %>
                  <span class="red"><%= @user.errors.full_messages_for(:postal_code).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :prefecture_code, "都道府県", class: "need" %></td>
              <td>
                <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, autofocus: true %>
                <% if @user.errors.include?(:prefecture_code) %>
                  <span class="red"><%= @user.errors.full_messages_for(:prefecture_code).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :city, "市区町村", class: "need" %></td>
              <td>
                <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
                <% if @user.errors.include?(:city) %>
                  <span class="red"><%= @user.errors.full_messages_for(:city).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :street, "番地", class: "need" %></td>
              <td>
                <%= f.text_field :street, autofocus: true, autocomplete: "street" %>
                <% if @user.errors.include?(:street) %>
                  <span class="red"><%= @user.errors.full_messages_for(:street).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :building, "建物" %></td>
              <td><%= f.text_field :building, autofocus: true, autocomplete: "building" %></td>
            </tr>

            <tr>
              <td><%= f.label :telephone_number, "電話番号(ハイフンなし)", class: "need" %></td>
              <td>
                <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
                <% if @user.errors.include?(:telephone_number) %>
                  <span class="red"><%= @user.errors.full_messages_for(:telephone_number).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td>
                <%= f.label :password, "パスワード", class: "need" %>
                <% if @minimum_password_length %>
                  (<%= @minimum_password_length %> 文字以上)
                <% end %>
              </td>
              <td>
                <%= f.password_field :password, autocomplete: "new-password" %>
                <% if @user.errors.include?(:password) %>
                  <span class="red"><%= @user.errors.full_messages_for(:password).first %></span>
                <% end %>
              </td>
            </tr>

            <tr>
              <td><%= f.label :password_confirmation, "パスワード (確認用)", class: "need" %></td>
              <td>
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                <% if @user.errors.include?(:password_confirmation) %>
                  <span class="red"><%= @user.errors.full_messages_for(:password_confirmation).first %></span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="user-form__field">
          <%= f.submit "新規登録", class: "btn_green" %>
        </div>
      <% end %>
    </div>
  </div>
</main>
