<%# ログイン時いいね機能をON %>
<% if user_signed_in? %>

  <%# いいね既済の場合destroyアクションへのリンクを付与 %>
  <% if favorite_base.favorited_by?(current_user) %>
    <%= link_to favorite_path(favorite_base.favorited_by(current_user), favorite_base_id: favorite_base.id, favorite_base_type: favorite_base_type(favorite_base)), method: :delete, remote: true do %>
      <p class="d-inline-block">
        <i class="fas fa-heart fa-pink"></i>
        <%= favorite_base.favorite_users.count %>件
      </p>
    <% end %>

  <%# いいね未済の場合createアクションへのリンクを付与 %>
  <% else %>
    <%= link_to favorites_path(favorite_base_id: favorite_base.id, favorite_base_type: favorite_base_type(favorite_base)), method: :post, remote: true do %>
      <p class="d-inline-block">
        <i class="far fa-heart fa-pink"></i>
        <%= favorite_base.favorite_users.count %>件
      </p>
    <% end %>
  <% end %>

<%# 未ログイン時いいね機能をOFFにし、いいねの数のみ表示 %>
<% else %>
    <p class="d-inline-block">
      <i class="fas fa-heart fa-pink"></i>
      <%= favorite_base.favorite_users.count %>件
    </p>
<% end %>
