<% comments.each do |c| %>
  <div class="comment-item">
    <div class="user-info">
      <%= link_to user_path(c.user_id) do %>
        <%= image_tag c.user.user_image.thumb.url, size: "40x40", class: "user-icon" %>
      <% end %>

      <p><%= c.user.family_name + c.user.given_name %></p>
    </div>

    <div class="comment-body">
      <p><%= c.body %></p>

      <% if user_signed_in? %>
        <% if c.user_id == current_user.id %>
          <%= link_to "削除", comment_path(id: c.id), method: :delete, remote: true, class: "btn_red" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
