<div class="card-box">
  <% recipes.each do |recipe| %>
    <div class="card">
      <%= link_to recipe_path(recipe.id) do %>
        <%= image_tag recipe.recipe_images[0].to_s, size: "200x150", class: "image" %>
      <% end %>

      <p class="card-title"><%= recipe.title %></p>

      <div class="card-icon">
        <div class="favorite_<%= recipe.id %> favorites">
          <%= render "favorites/favorite", favorite_base: recipe %>
        </div>

        <p class="comments">
          <i class="fas fa-comment fa-blue"></i>
          <%= recipe.comments.count %>件
        </p>

        <p class="footprints">
          <i class="fas fa-paw fa-brown"></i>
          <%= recipe.footprint %>件
        </p>
      </div>

      <div class="user-body">
        <div class="user-body__left">
          <%= link_to user_path(recipe.user_id) do %>
            <%= image_tag recipe.user.user_image.thumb.url, size: "40x40", class: "user-icon" %>
          <% end %>

          <p><%= recipe.user.family_name + recipe.user.given_name %></p>
        </div>

        <div class="user-body__right">
          <div class="relationship_<%= recipe.user.id %> relationships">
            <%= render "relationships/relationship", follower: recipe.user %>
          </div>

          <div class="bookmark_<%= recipe.id %> bookmarks">
            <%= render "bookmarks/bookmark", bookmark_base: recipe %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
