<main>
  <div class="container">
    <div class="row">
      <div class="recipe__left">
        <%= form_with model: @recipe, url: recipe_path(@recipe.id), local: true, html: {class: "col-12 d-flex my-5"} do |r| %>
          <button>
            <%= r.file_field :recipe_images, accept: 'image/jpeg,image/gif,image/png' %>
          </button>
          <div class="recipe-title__wrapper">
            <%= r.label :title, "タイトル" %>
            <%= r.text_field :title, autofocus: true %>
          </div>
          <div class="recipe-body__wrapper">
            <%= r.label :body, "内容" %><br>
            <%= r.text_area :body, autofocus: true %>
          </div>
          <div class="recipe-form__field">
            <%= r.submit "投稿", autofocus: true, class: "btn_blue" %>
            <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "btn_red" %>
          </div>
        <% end %>
      </div>
      <div class="recipe__right">
        <%= form_with model: @food, url: foods_path, local: true do |f| %>
          <%= f.label :name, "材料" %>
          <%= f.text_field :name, autofocus: true %>
          <%= f.hidden_field :recipe_id, value: @recipe.id %>
          <%= f.submit "追加", class: "btn_blue" %>
        <% end %>
        <% @foods.each do |f| %>
          <p><%= f.name %></p>
          <%= link_to "削除", food_path(f.id), method: :delete, class: "btn_red" %>
        <% end %>
        <%= form_with model: @flow, url: flows_path, local: true do |f| %>
          <%= f.label :body, "作り方" %>
          <%= f.text_field :body, autofocus: true %>
          <%= f.hidden_field :recipe_id, value: @recipe.id %>
          <%= f.submit "追加", class: "btn_blue" %>
        <% end %>
        <% @flows.each do |f| %>
          <p><%= f.body %></p>
          <%= link_to "削除", flow_path(f.id), method: :delete, class: "btn_red" %>
        <% end %>
      </div>
    </div>
  </div>
</main>