<div class="recipe__left">
  <%= form_with model: @recipe, url: recipe_path(@recipe.id), local: true, html: {class: "col-12 d-flex my-5"} do |f| %>
    <% @recipe.recipe_images.each do |f_img| %>
      <%= image_tag f_img.to_s, class: "img_prev" %>
    <% end %>
    <button>
      <%= f.file_field :recipe_images, accept: 'image/jpeg,image/gif,image/png', class: "img" %>
    </button>
    <% if @recipe.errors.include?(:recipe_images) %>
      <%= @recipe.errors.full_messages_for(:recipe_images).first %>
    <% end %>

    <div class="recipe-title__wrapper">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, autofocus: true %>
    </div>
    <% if @recipe.errors.include?(:title) %>
      <%= @recipe.errors.full_messages_for(:title).first %>
    <% end %>

    <div class="recipe-body__wrapper">
      <%= f.label :body, "内容" %><br>
      <%= f.text_area :body, autofocus: true %>
    </div>
    <% if @recipe.errors.include?(:body) %>
      <%= @recipe.errors.full_messages_for(:body).first %>
    <% end %>

    <div class="recipe-form__field">
      <%= f.submit "投稿", autofocus: true, class: "btn_blue" %>
      <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "btn_red" %>
    </div>
  <% end %>
</div>

<div class="recipe__right">
  <%= form_with model: @food, url: foods_path do |f| %>
    <%= f.label :name, "材料" %>
    <%= f.text_field :name, autofocus: true, class: "food-text" %>
    <%= f.hidden_field :recipe_id, value: @recipe.id %>
    <%= f.submit "追加", class: "btn_blue" %>
  <% end %>

  <div class="food__list">
    <%= render "foods/food", foods: @foods %>
  </div>

  <%= form_with model: @flow, url: flows_path do |f| %>
    <%= f.label :body, "作り方" %>
    <%= f.text_field :body, autofocus: true, class: "flow-text" %>
    <%= f.hidden_field :recipe_id, value: @recipe.id %>
    <%= f.submit "追加", class: "btn_blue" %>
  <% end %>

  <div class="flow__list">
    <%= render "flows/flow", flows: @flows %>
  </div>

</div>
