<main>
  <div class="container">
    <div class="row">
        <%= form_with model: @recipe, url: recipe_path(@recipe.id), local: true, class: "post-recipe__body col-12 d-flex mt-3" do |f| %>
          <div class="post-recipe__left">
            <div class="title">
              <%= f.label :title, "タイトル" %>
              <%= f.text_field :title, autofocus: true %>
              <% if @recipe.errors.include?(:title) %>
                <%= @recipe.errors.full_messages_for(:title).first %>
              <% end %>
            </div>

            <div class="img my-4">
              <div class="img-box mb-2">
                <% @recipe.recipe_images.each do |f_img| %>
                  <%= image_tag f_img.to_s, size: "150x150", class: "img_prev" %>
                <% end %>
              </div>
              <button>
                <%= f.file_field :recipe_images, class: "img" %>
              </button>
              <% if @recipe.errors.include?(:recipe_images) %>
                <%= @recipe.errors.full_messages_for(:recipe_images).first %>
              <% end %>
            </div>
          </div>

          <div class="post-recipe__right">
            <div class="text my-4">
              <%= f.label :body, "詳細" %>
              <%= f.text_area :body, autofocus: true %>
              <% if @recipe.errors.include?(:body) %>
                <%= @recipe.errors.full_messages_for(:body).first %>
              <% end %>
            </div>

            <div class="action">
              <%= f.submit "投稿", autofocus: true, class: "btn_blue" %>
              <%= link_to "削除", recipe_path(@recipe.id), method: :delete, class: "btn_red" %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="post-recipe__body col-12 d-flex mt-5">
        <div class="post-recipe__left">
          <%= form_with model: @food, url: foods_path do |f| %>
            <%= f.label :name, "材料" %>
            <%= f.text_field :name, autofocus: true, class: "food-text" %>
            <%= f.hidden_field :recipe_id, value: @recipe.id %>
            <%= f.submit "追加", class: "btn_blue" %>
          <% end %>

          <div class="food__list mt-4">
            <%= render "foods/food", foods: @foods %>
          </div>
        </div>

        <div class="post-recipe__right">
          <%= form_with model: @flow, url: flows_path do |f| %>
            <%= f.label :body, "作り方" %>
            <%= f.text_field :body, autofocus: true, class: "flow-text" %>
            <%= f.hidden_field :recipe_id, value: @recipe.id %>
            <%= f.submit "追加", class: "btn_blue" %>
          <% end %>

          <div class="flow__list mt-4">
            <%= render "flows/flow", flows: @flows %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
