<main>
  <div class="container">
    <div class="row">
      <%# レシピタグ検索フォーム %>
      <div class="tag-sidebar col-2 my-1 px-3">
        <%= render "/shared/index_sidebar", tags: @tags %>
      </div>

      <%# レシピ一覧 %>
      <div class="post-recipe-index col-10 my-3 px-3">
        <div class="titlebar">
          <h2>Recipes　<%= @title %></h2>

          <%= render "/shared/flash" %>

          <%= form_with url: recipes_path, method: :get, local: true, class: "form" do |f| %>
            <%= f.text_field :search %>
            <%= f.submit "検索", class: "btn_blue" %>
          <% end %>
        </div>

        <%= render "index", recipes: @recipes %>
        <%= paginate @recipes %>
      </div>
    </div>
  </div>
</main>
