<%= form_with model: @recipe, url: recipes_path(@recipe.id), local: true, html: {class: "col-12 d-flex my-5"} do |f| %>
  <div class="recipe__left">
    <%# image_tag @recipe.recipe_images[0].to_s, class: "img_prev" %>
    <button>
      <%= f.file_field :recipe_images, multiple: true, accept: 'image/jpeg,image/gif,image/png', class: "img" %>
    </button>
    <% if @recipe.errors.include?(:recipe_images) %>
      <%= @recipe.errors.full_messages_for(:recipe_images).first %>
    <% end %>

    <%= f.label :tag_list, "タグ" %>
    <%= f.text_field :tag_list, velue: @recipe.tag_list.join(',') %>

    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, autofocus: true %>
    <% if @recipe.errors.include?(:title) %>
      <%= @recipe.errors.full_messages_for(:title).first %>
    <% end %>

    <%= f.label :body, "内容" %>
    <%= f.text_field :body, autofocus: true %>
    <% if @recipe.errors.include?(:body) %>
      <%= @recipe.errors.full_messages_for(:body).first %>
    <% end %>

    <%= f.submit "次へ", class: "btn_blue" %>
  </div>
  <div class="recipe__right">
  </div>
<% end %>