<%# レシピ新規投稿ページ %>
<main>
  <div class="container">
    <div class="row">
      <h4 class="my-3">新規レシピ</h4>

      <%= form_with model: @recipe, url: recipes_path(@recipe.id), local: true, class: "new-edit__body d-flex col-12" do |f| %>

        <%# ページ左側 %>
        <div class="new-edit__left w-50 p-3 mb-4">

          <%# タイトル入力フォーム %>
          <div class="title">
            <%= f.label :title, "タイトル", class: "need" %>
            <%= f.text_field :title, autofocus: true %>
            <% if @recipe.errors.include?(:title) %>
              <span class="red"><%= @recipe.errors.full_messages_for(:title).first %></span>
            <% end %>
          </div>

          <%# 画像投稿フォーム %>
          <div class="img my-4">
            <%= f.label :recipe_images, "写真", class: "need" %>
            <div class="img-box mb-2">
              <%= image_tag @recipe.recipe_images[0].to_s, size: "550x350", class: "main-img img_prev" %>
            </div>
            <button>
              <%= f.file_field :recipe_images, multiple: true, class: "img need_long" %>
            </button>
            <% if @recipe.errors.include?(:recipe_images) %>
              <span class="red"><%= @recipe.errors.full_messages_for(:recipe_images).first %></span>
            <% end %>
          </div>
        </div>

        <%# ページ右側 %>
        <div class="new-edit__right w-50 p-3 mb-4">

          <%# タグ付けフォーム %>
          <div class="tag">
            <%= f.label :tag_list, "タグ" %>
            <%= f.text_field :tag_list, value: @recipe.tag_list.join(','), id: "tags" %>
          </div>

          <%# 本文入力フォーム %>
          <div class="text my-4">
            <%= f.label :body, "詳細", class: "need" %>
            <%= f.text_area :body, autofocus: true %>
            <% if @recipe.errors.include?(:body) %>
              <span class="red"><%= @recipe.errors.full_messages_for(:body).first %></span>
            <% end %>
          </div>

          <%= f.submit "次へ", class: "btn_blue" %>
        </div>
      <% end %>
    </div>
  </div>
</main>
