<%# レシピ詳細ページ %>
<main>
  <div class="container">
    <div class="row">

      <%# ページ左側 %>
      <div class="col-6 mt-3">
        <%= image_tag @recipe.recipe_images[0].to_s, size: "550x350", class: "main-img" %>

        <%# タイトルバー %>
        <div class="show__title">
          <h2><%= @recipe.title %></h2>

          <div class="bookmark_<%= @recipe.id %>">
            <%= render "bookmarks/bookmark", bookmark_base: @recipe %>
          </div>
        </div>

        <%# レシピ投稿ユーザー詳細 %>
        <div class="show__user-body">

          <%# ユーザー詳細左側 %>
          <div class="user-body__left">
            <%= link_to user_path(@recipe.user_id) do %>
              <%= image_tag @recipe.user.user_image.thumb.url, size: "50x50", class: "user-icon" %>
            <% end %>
          </div>

          <%# ユーザー詳細中央 %>
          <div class="user-body__center">
            <%= @recipe.user.family_name + @recipe.user.given_name %>

            <div class="relationship_<%= @recipe.user.id %>">
              <%= render "relationships/relationship", follower: @recipe.user %>
            </div>
          </div>

          <%# ユーザー詳細右側 %>
          <div class="user-body__right">
            <p>いいね</p>
            <div class="favorite_<%= @recipe.id %>">
              <%= render "favorites/favorite", favorite_base: @recipe %>
            </div>

            <p>コメント　<i class="fas fa-comment fa-blue"></i><%= @recipe.comments.count %>件</p>

            <p>足あと　<i class="fas fa-paw fa-brown"></i><%= @recipe.footprint %>件</p>
          </div>
        </div>

        <%# タグリンク %>
        <%= render 'shared/tag_list', tag_list: @recipe.tag_list %>

        <%# レシピ本文 %>
        <div class="show__text">
          <p><%= @recipe.body %></p>
        </div>

        <%# レシピ材料 %>
        <div class="show__food">
          <h2>材料</h2>
          <% @foods.each do |f| %>
            <p><%= f.name %></p>
          <% end %>
        </div>

        <%# レシピ作り方 %>
        <div class="show__flow">
          <h2>作り方</h2>
          <ol>
            <% @flows.each do |f| %>
              <li><%= f.body %></li>
            <% end %>
          </ol>
        </div>
      </div>

      <%# ページ右側 %>
      <div class="show_right col-6 mt-3">

        <%# コメント %>
        <h2>Comment</h2>
        <% if user_signed_in? %>
          <%= form_with model: @comment, url: comments_path do |f| %>
            <%= f.text_area :body %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :recipe_id, value: @recipe.id %>
            <%= f.submit "送信" %>
          <% end %>
        <% end %>

        <div class="comment__list">
          <%= render "comments/commentlist", comments: @comments %>
        </div>
      </div>
    </div>
  </div>
</main>
