<div class="user-info col-2">
  <h2>User</h2>
  <%= image_tag user.user_image.thumb.url, size: "70x70", class: "user-icon mb-1" %>
  <p class="mb-1"><%= user.family_name + user.given_name %></p>
  <p class="mb-4"><%= user.family_name_kana + user.given_name_kana %></p>
  <%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "btn_blue mb-1" %>
  <%= link_to "パスワード変更", edit_user_registration_path(current_user.id), class: "btn_blue mb-1" %>
  <%= link_to "My Posts", posts_path(user_id: current_user.id), class: "btn_blue mb-1" %>
  <%= link_to "New Post", new_post_path, class: "btn_green mb-1" %>
  <%= link_to "My Camping Meals", recipes_path, class: "btn_blue mb-1" %>
  <%= link_to "New Camping Meal", new_recipe_path, class: "btn_green mb-1" %>
</div>

<div class="mypage-body col-10">

  <div class="items">
    <%= form_with model: @item, url: items_path do |f| %>
      <%= f.label :name, "持ち物" %>
      <%= f.text_field :name %>
      <%= f.submit "登録", class: "btn_blue" %>
    <% end %>

    <% items.each do |i| %>
      <%= link_to i.name,  class: "btn_blue" %>
      <%= link_to "X", item_path(i.id), method: :delete, class: "btn_red" %>
    <% end %>
  </div>

  <div class="bookmark">
    <h2>ブックマーク</h2>
    <div class="card-box">

      <% posts.each do |p| %>
        <div class="card py-4">
          <%= link_to post_path(p.id) do %>
            <%= image_tag p.post_images.thumb.url, size: "250x200", class: "post-image" %>
          <% end %>

          <div class="card-body">
            <p class="card-title"><%= p.title %></p>
            <div class="card-body__link">
              <% if Favorite.find_by(user_id: current_user.id, post_id: p.id) %>
                <%= link_to favorite_path(Favorite.find_by(user_id: current_user.id, post_id: p.id)), method: :delete do %>
                  <p class="d-inline-block">
                    <i class="fas fa-heart fa-pink"></i>
                    <%= p.favorite_users.count %>件　
                  </p>
                <% end %>
              <% else %>
                <%= link_to favorites_path(post_id: p.id), method: :post do %>
                  <p class="d-inline-block">
                    <i class="far fa-heart fa-pink"></i>
                    <%= p.favorite_users.count %>件　
                  </p>
                <% end %>
              <% end %>

              <p class="d-inline-block">
                <i class="fas fa-comment fa-blue"></i>
                <%= p.comments.count %>件　
              </p>
              <p class="d-inline-block">
                <i class="fas fa-paw fa-brown"></i>
                <%= p.footprint %>件
              </p>
            </div>

            <div class="user-body px-4">
              <%= link_to user_path(p.user_id) do %>
                <%= image_tag p.user.user_image.thumb.url, size: "70x70", class: "user-icon" %>
              <% end %>

              <div class="user-body__text">
                <p><%= p.user.family_name + p.user.given_name %></p>

                <div class="follow">
                  <% if Relationship.find_by(followed_id: current_user.id, follower_id: p.user_id) %>
                    <%= link_to "フォローを外す", relationship_path(Relationship.find_by(followed_id: current_user.id, follower_id: p.user_id), user_id: p.user_id), method: :delete, class: "btn_red" %>
                  <% else %>
                    <%= link_to "フォロー", relationships_path(user_id: p.user_id), method: :post, class: "btn_blue" %>
                  <% end %>
                </div>

                <div class="bookmark">
                  <% if Bookmark.find_by(user_id: current_user.id, post_id: p.id) %>
                    <%= link_to "ブックマークを外す", bookmark_path(Bookmark.find_by(user_id: current_user.id, post_id: p.id)), method: :delete, class: "btn_red" %>
                  <% else %>
                    <%= link_to "ブックマーク", bookmarks_path(post_id: p.id), method: :post, class: "btn_blue" %>
                  <% end %>
                </div>

              </div>
            </div>
          </div>

        </div>
      <% end %>

      <% recipes.each do |r| %>
        <div class="card py-4">
          <%= link_to recipe_path(r.id) do %>
            <%= image_tag r.recipe_images.thumb.url, size: "250x200", class: "recipe-image" %>
          <% end %>

          <div class="card-body">
            <p class="card-title"><%= r.title %></p>

            <div class="card-body__link">
              <% if Favorite.find_by(user_id: current_user.id, recipe_id: r.id) %>
                <%= link_to favorite_path(Favorite.find_by(user_id: current_user.id, recipe_id: r.id)), method: :delete do %>
                  <p class="d-inline-block">
                    <i class="fas fa-heart fa-pink"></i>
                    <%= r.favorite_users.count %>件　
                  </p>
                <% end %>
              <% else %>
                <%= link_to favorites_path(recipe_id: r.id), method: :recipe do %>
                  <p class="d-inline-block">
                    <i class="far fa-heart fa-pink"></i>
                    <%= r.favorite_users.count %>件　
                  </p>
                <% end %>
              <% end %>

              <p class="d-inline-block">
                <i class="fas fa-comment fa-blue"></i>
                <%= r.comments.count %>件　
              </p>

              <p class="d-inline-block">
                <i class="fas fa-paw fa-brown"></i>
                <%= r.footprint %>件
              </p>
            </div>

            <div class="user-body px-4">
              <%= link_to user_path(r.user_id) do %>
                <%= image_tag r.user.user_image.thumb.url, size: "70x70", class: "user-icon" %>
              <% end %>

              <div class="user-body__text">
                <p><%= r.user.family_name + r.user.given_name %></p>

                <div class="follow">
                  <% if Relationship.find_by(followed_id: current_user.id, follower_id: r.user_id) %>
                    <%= link_to "フォローを外す", relationship_path(Relationship.find_by(followed_id: current_user.id, follower_id: r.user_id), user_id: r.user_id), method: :delete, class: "btn_red" %>
                  <% else %>
                    <%= link_to "フォロー", relationships_path(user_id: r.user_id), method: :recipe, class: "btn_blue" %>
                  <% end %>
                </div>

                <div class="bookmark">
                  <% if Bookmark.find_by(user_id: current_user.id, recipe_id: r.id) %>
                    <%= link_to "ブックマークを外す", bookmark_path(Bookmark.find_by(user_id: current_user.id, recipe_id: r.id)), method: :delete, class: "btn_red" %>
                  <% else %>
                    <%= link_to "ブックマーク", bookmarks_path(recipe_id: r.id), method: :recipe, class: "btn_blue" %>
                  <% end %>
                </div>

              </div>

            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>