<%# ユーザー詳細サイドバー %>
<h4>User</h4>
<%= image_tag user.user_image.thumb.url, size: "70x70", class: "user-icon mb-1" %>
<p class="mb-1"><%= user.family_name + user.given_name %></p>
<p class="mb-4"><%= user.family_name_kana + user.given_name_kana %></p>

<%# フォローリンク %>
<div class="relationship_<%= user.id %>">
  <%= render "relationships/relationship", follower: user %>
</div>

<%= link_to "Posts", users_posts_path(user.id), class: "btn_blue mt-1" %>
<%= link_to "Camping Meals", users_recipes_path(user.id), class: "btn_blue mt-1" %>