<%# ログイン前ヘッダー %>
<div class="header-inner d-flex justify-content-between">
  <%= link_to root_path, class: "header-logo-wrapper" do %>
    <%= image_tag "logo.png", class: "header-logo" %>
  <% end %>
  <nav class="header-nav">
    <%= link_to "Mypage", user_path(current_user.id), class: "header-nav__link" %>
    <%= link_to "Users", users_path, class: "header-nav__link" %>
    <%= link_to "Posts", posts_path, class: "header-nav__link" %>
    <%= link_to "Camping Meals", recipes_path, class: "header-nav__link" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "header-nav__link" %>
  </nav>
</div>