<%= render "shared/key-visual" %>

<main>
 <div class="container-fluid top-page p-0">
  <div class="row bg-white">
    <div id="about">
      <h2>
        <span>A</span>
        <span>b</span>
        <span>o</span>
        <span>u</span>
        <span>t</span>
      </h2>
      <p class="mb-5">Camping StyleはキャンパーのためのSNSです</p>
      <div class="card-deck">
        <div class="card">
          <%= link_to posts_path do %>
            <%= image_tag "top_post_img.jpg", class: "card-img-top w-100" %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title text-center mt-4 mb-5">Posts</h4>
            <p class="card-text text-center">キャンプの写真をみんなとシェアしましょう</p>
          </div>
        </div>

        <div class="card">
          <%= link_to recipes_path do %>
            <%= image_tag "top_recipe_img.jpg", class: "card-img-top w-100" %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title text-center mt-4 mb-5">Camping Meals</h4>
            <p class="card-text text-center">キャンプ飯のレシピをみんなとシェアしましょう</p>
          </div>
        </div>

        <div class="card card__item-lists">
          <%= image_tag "top_itemlist_img.jpg", class: "card-img-top w-100" %>
          <div class="card-body">
            <h4 class="card-title text-center mt-4 mb-5">Item Lists</h4>
            <p class="card-text text-center">持ち物リストを活用してキャンプを楽しみましょう<br><small class="red">※ご利用にはログインが必要です</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-bg img-bg-01"></div>

  <div class="row bg-white">
    <div class="top-posts">
      <h2>
        <span>T</span>
        <span>o</span>
        <span>p</span>
        <span>i</span>
        <span>c</span>
        <span>s</span>
      </h2>
      <p class="mb-5">一週間の人気の投稿です</p>
      <div class="card-deck">
        <% @posts.each do |post| %>
          <div class="card">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.post_images[0].to_s, class: "card-img-top w-100" %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title text-center mt-4 mb-5"><%= post.title %></h4>
              <p class="card-text text-center"><%= post.body %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="parallax-bg img-bg-02"></div>

  <div class="row bg-white">
    <div class="top-recipes">
      <h2>
        <span>R</span>
        <span>e</span>
        <span>c</span>
        <span>i</span>
        <span>p</span>
        <span>e</span>
        <span>s</span>
      </h2>
      <p class="mb-5">人気のレシピです</p>
      <div class="card-deck">
        <% @recipes.each do |recipe| %>
          <div class="card">
            <%= link_to recipe_path(recipe.id) do %>
              <%= image_tag recipe.recipe_images[0].to_s, class: "card-img-top w-100" %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title text-center mt-4 mb-5"><%= recipe.title %></h4>
              <p class="card-text text-center"><%= recipe.body %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 </div>
</main>