<%# 投稿一覧 %>
<div class="card-box">
  <% posts.each do |post| %>
    <div class="card">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.post_images[0].to_s, size: "200x150", class: "image" %>
      <% end %>

      <p class="card-title mt-3 mb-3"><%= post.title %></p>

      <div class="card-icon">
        <div class="favorite_<%= post.id %> favorites">
          <%= render "favorites/favorite", favorite_base: post %>
        </div>

        <p class="comments">
          <i class="fas fa-comment fa-lg fa-blue"></i>
          <%= post.comments.count %>件
        </p>

        <p class="footprints">
          <i class="fas fa-paw fa-lg fa-brown"></i>
          <%= post.footprint %>件
        </p>
      </div>

      <div class="user-body">
        <div class="user-body__left">
          <%= link_to user_path(post.user_id) do %>
            <%= image_tag post.user.user_image.thumb.url, size: "40x40", class: "user-icon" %>
          <% end %>

          <p><%= post.user.family_name + post.user.given_name %></p>
        </div>

        <div class="user-body__right">
          <div class="relationship_<%= post.user.id %> relationships">
            <%= render "relationships/relationship", follower: post.user %>
          </div>

          <div class="bookmark_<%= post.id %> bookmarks">
            <%= render "bookmarks/bookmark", bookmark_base: post %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
