<h2><%= title %></h2>

<%= form_with url: posts_path, method: :get, local: true do |f| %>
  <%= f.text_field :search %>
  <%= f.submit "検索", class: "btn_blue" %>
<% end %>

<div class="card-box">
  <% posts.each do |post| %>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.post_images[0].to_s, size: "250x200", class: "post-image" %>
    <% end %>

    <p class="card-title"><%= post.title %></p>

    <div class="favorite_<%= post.id %>">
      <%= render "favorites/favorite", post: post %>
    </div>

    <p class="d-inline-block">
      <i class="fas fa-comment fa-blue"></i>
      <%= post.comments.count %>件
    </p>

    <p class="d-inline-block">
      <i class="fas fa-paw fa-brown"></i>
      <%= post.footprint %>件
    </p>

    <%= link_to user_path(post.user_id) do %>
      <%= image_tag post.user.user_image.thumb.url, size: "70x70", class: "user-icon" %>
    <% end %>

    <p><%= post.user.family_name + post.user.given_name %></p>

    <div class="relationship_<%= post.user.id %>">
      <%= render "relationships/relationship", follower: post.user %>
    </div>

    <div class="bookmark_<%= post.id %>">
      <%= render "bookmarks/bookmark", post: post %>
    </div>
  <% end %>
</div>
