<%= form_with model: @post, local: true, html: {class: "col-12 d-flex my-5"} do |f| %>
  <div class="post__left">
    <%= image_tag @post.post_images[0].to_s, class: "img_prev" %>
    <button>
      <%= f.file_field :post_images, accept: 'image/jpeg,image/gif,image/png', class: "img" %>
    </button>
    <% if @post.errors.include?(:post_images) %>
      <%= @post.errors.full_messages_for(:post_images).first %>
    <% end %>

    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, autofocus: true %>
    <% if @post.errors.include?(:title) %>
      <%= @post.errors.full_messages_for(:title).first %>
    <% end %>
  </div>

  <div class="post__right">
    <%= f.label :body, "内容" %><br>
    <%= f.text_area :body, autofocus: true %>
    <% if @post.errors.include?(:body) %>
      <%= @post.errors.full_messages_for(:body).first %>
    <% end %>
    
    <%= f.submit "編集", class: "btn_blue" %>
    <%= link_to "削除", post_path(@post.id), method: :delete, data: {confirm: "本当に削除しますか"}, class: "btn_red" %>
  </div>
<% end %>
