<main>
  <div class="container">
    <div class="row">
      <%# 投稿一覧サイドバー %>
      <div class="tag-sidebar col-2 my-1 px-3">
        <%= render "/shared/index_sidebar", tags: @tags %>
      </div>

      <%# 投稿一覧 %>
      <div class="post-recipe-index col-10 my-1 px-3">
        <h2>Posts　<%= @title %></h2>

        <%= form_with url: posts_path, method: :get, local: true, class: "form" do |f| %>
          <%= f.text_field :search %>
          <%= f.submit "検索", class: "btn_blue" %>
        <% end %>

        <%= render "index", posts: @posts %>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</main>
