<%= form_with model: @post, html: {class: "col-12 d-flex my-5"} do |f| %>
  <div class="post__left">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, autofocus: true %>

    <button>
      <%= f.file_field :post_images, multiple: true, accept: 'image/jpeg,image/gif,image/png' %>
    </button>

    <%= f.label :tag_list, "タグ" %>
    <%= f.text_field :tag_list, velue: @post.tag_list.join(',') %>
  </div>

  <div class="post__right">
    <%= f.label :body, "内容" %>
    <%= f.text_area :body, autofocus: true %>

    <%= f.submit "投稿", class: "btn_blue" %>
  </div>
<% end %>
