<%# 投稿詳細ページ %>
<main>
  <div class="container">
    <div class="row">

      <%# ページ左側 %>
      <div class="show_left col-6 my-4">
        <%= image_tag @post.post_images[0].to_s, size: "550x350", class: "main-img" %>

        <%# タイトルバー %>
        <div class="show__title">
          <h3><%= @post.title %></h3>

          <div class="bookmark_<%= @post.id %>">
            <%= render "bookmarks/bookmark", bookmark_base: @post %>
          </div>
        </div>

        <%# 投稿ユーザー詳細 %>
        <div class="show__user-body">

          <%# ユーザー詳細左側 %>
          <div class="user-body__left">
            <%= link_to user_path(@post.user_id) do %>
              <%= image_tag @post.user.user_image.thumb.url, size: "50x50", class: "user-icon" %>
            <% end %>
          </div>

          <%# ユーザー詳細中央 %>
          <div class="user-body__center">
            <p>
              <%= @post.user.family_name + @post.user.given_name %>
            </p>

            <div class="relationship_<%= @post.user.id %>">
              <%= render "relationships/relationship", follower: @post.user %>
            </div>
          </div>

          <%# ユーザー詳細右側 %>
          <div class="user-body__right">
            <p>いいね</p>
            <div class="favorite_<%= @post.id %>">
              <%= render "favorites/favorite", favorite_base: @post %>
            </div>

            <p>コメント　<i class="fas fa-comment fa-lg fa-blue"></i><%= @post.comments.count %>件</p>

            <p>足あと　<i class="fas fa-paw fa-lg fa-brown"></i><%= @post.footprint %>件</p>
          </div>
        </div>

        <%# タグリンク %>
        <div class="tag-list">
          <%= render 'shared/tag_list', tag_list: @post.tag_list %>
        </div>
        
        <%# 投稿本文 %>
        <div class="show__text">
          <p><%= @post.body %></p>
        </div>
      </div>

      <%# ページ右側 %>
      <div class="show_right col-6 my-4">

        <%# コメント %>
        <h4>Comment</h4>
        <% if user_signed_in? %>
          <%= form_with model: @comment, url: comments_path do |f| %>
            <%= f.text_area :body %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <%= f.submit "送信" %>
          <% end %>
        <% end %>

        <div class="comment__list">
          <%= render "comments/commentlist", comments: @comments %>
        </div>
      </div>
    </div>
  </div>
</main>
